*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
.idea/sonarlint
.idea/markdown-navigator/
.idea/markdown-navigator.xml
/.idea/markdown-exported-files.xml
